<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assign Reviewers</title>
    <script type="text/javascript" src="scripts.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body onload="assignReviewers()">
    <div class="center-container">
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Paper title</th>
                    <th>Paper abstract</th>
                    <th>Conference name</th>
                    <th>Reviewers</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    </div>

</body>
</html>