{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' type="text/css" href="{% static 'css/stylesheet.css' %}">
        <link rel='stylesheet' type="text/css" href="{% static 'css/navbar.css' %}">
    <script type="text/javascript" src="{% static 'scripts.js' %}"></script><!--Used for jsonParse();-->
    <meta charset="UTF-8">
    <title>Bidding</title>
</head>
<body onload="getPapers()">
<script>
    function getPapers() {
        let http = new XMLHttpRequest();
        http.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                let table = document.getElementsByTagName("table")[0];
                let old_tbody = document.getElementsByTagName("tbody")[0];
                let new_tbody = document.createElement('tbody');

                let json = jsonParse(this.responseText);

                for (let i = 0; i < json.length; i++) {
                    let paper = json[i];

                    let row = new_tbody.insertRow();
                    let cell = row.insertCell();
                    cell.appendChild(document.createTextNode(paper["paperId"]["title"]));
                    cell = row.insertCell();
                    cell.appendChild(document.createTextNode(paper["paperId"]["text"]));

                    cell = row.insertCell();
                    let select = document.createElement("select");
                    select.id = "select-" + paper["id"];

                    let option1 = document.createElement("option");
                    option1.text = "Indifferent";
                    let option2 = document.createElement("option");
                    option2.text = "Review";
                    let option3 = document.createElement("option");
                    option3.text = "Do not review";

                    select.add(option1);
                    select.add(option2);
                    select.add(option3);

                    cell.appendChild(select);
                }
                table.replaceChild(new_tbody, old_tbody);
            }
        };
        http.open("GET", "../api/papers/getAll", true);
        http.send(null);
    }

    function sendBidding() {
        let combobox = document.getElementsByTagName("select");

        let result = [];

        for (let i = 0; i < combobox.length; i++) {
            let id = combobox[i].id.substring(7);
            let choice = combobox[i].value;

            let dict = {
                id: id,
                choice: choice
            };

            result.push(dict);
        }

        let json = JSON.stringify(result);

        let http = new XMLHttpRequest();
        http.open("POST", "api/reviews/sendBidding", true);
        http.send(json);
    }
</script>
<style>
      .center-container{
        margin-top: 10px;
    }
</style>

<div class="navbar">
  <a href='{% url "conference_list" %}'>Conference List</a>
  <a href='{% url "evaluation_results" %}'>Evaluation Results</a>
  {% if request.user.is_authenticated %}
    {% if request.user.first_name != "Listener" %}
        <a href='{% url "submit_new_conference" %}'>Submit Conference</a>
    {% endif %}
  {% endif %}
          <div class="dropdown">
            <button class="dropbtn">Administrative functions &darr;
            </button>
            <div class="dropdown-content">
                <a href='{% url "assign_reviewers" %}'>Assign Reviewers</a>
                <a href='{% url "bidding" %}'>Bidding</a>
                <a href='{% url "evaluation" %}'>Evaluation</a>
                <a href='{% url "review"%}'>Review</a>
                <a href='{% url "section_choices" %}'>Section Choices</a>
                <a href='{% url "split_papers_into_sections" %}'>Split Papers Into Sections</a>
            </div>

  </div>
  <div class = "navbar-right">
        {% if request.user.is_authenticated %}
        <a href="{% url 'account_logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'account_login' %}">Login</a>
        <a href="{% url 'account_signup' %}">Sign-up</a>
    {% endif %}
    </div>
</div>

<div class="center-container">
    <div class="table-container">
        <table>
            <thead>
            <tr>
                <th>Paper title</th>
                <th>Paper abstract</th>
                <th>Bidding decision</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <button style="margin-top: 30px" type="submit" onclick="sendBidding()">Send bidding</button>
</div>

</body>
</html>