<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <script type="text/javascript" src="scripts.js"></script><!--Used for jsonParse();-->
    <meta charset="UTF-8">
    <title>Bidding</title>
</head>
<body onload="getPapers()">
<script>
    function getPapers() {
        let http = new XMLHttpRequest();
        http.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                let table = document.getElementsByTagName("table")[0];
                let old_tbody = document.getElementsByTagName("tbody")[0];
                let new_tbody = document.createElement('tbody');

                let json = jsonParse(this.responseText);

                for (let i = 0; i < json.length; i++) {
                    let paper = json[i];

                    let row = new_tbody.insertRow();
                    let cell = row.insertCell();
                    cell.appendChild(document.createTextNode(paper["title"]));
                    cell = row.insertCell();
                    cell.appendChild(document.createTextNode(paper["abstract"]));

                    cell = row.insertCell();
                    let select = document.createElement("select");
                    select.id = "select-" + paper["id"];

                    let option1 = document.createElement("option");
                    option1.text = "Indifferent";
                    let option2 = document.createElement("option");
                    option2.text = "Review";
                    let option3 = document.createElement("option");
                    option3.text = "Do not review";

                    select.add(option1);
                    select.add(option2);
                    select.add(option3);

                    cell.appendChild(select);
                }
                table.replaceChild(new_tbody, old_tbody);
            }
        };
        http.open("GET", "api/papers/getAll", true);
        http.send(null);
    }

    function sendBidding() {
        let combobox = document.getElementsByTagName("select");

        let result = [];

        for (let i = 0; i < combobox.length; i++) {
            let id = combobox[i].id.substring(7);
            let choice = combobox[i].value;

            let dict = {
                id: id,
                choice: choice
            };

            result.push(dict);
        }

        let json = JSON.stringify(result);

        let http = new XMLHttpRequest();
        http.open("POST", "api/review/sendBidding", true);
        http.send(json);
    }
</script>

<div class="center-container">
    <div class="table-container">
        <table>
            <thead>
            <tr>
                <th>Paper title</th>
                <th>Paper abstract</th>
                <th>Bidding decision</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <button style="margin-top: 30px" type="submit" onclick="sendBidding()">Send bidding</button>
</div>

</body>
</html>