<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <script type="text/javascript" src="scripts.js"></script>
    <meta charset="UTF-8">
    <title>Bidding</title>
</head>
<body>

<div class="center-container">
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Paper title</th>
                    <th>Paper abstract</th>
                    <th>Bidding decision</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <button style="margin-top: 30px" type="submit">Send bidding</button>
</div>

</body>
</html>