{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
     <link rel='stylesheet' type="text/css" href="{% static 'css/stylesheet.css' %}">
    <link rel='stylesheet' type="text/css" href="{% static 'css/navbar.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <script type="text/javascript" src="{% static 'scripts.js' %}"></script><!--Used for loadTitle();-->
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>Conference Chair Sign up</title>

</head>

<body onload="loadTitle()">
<script>
    function sendChairInfo() {
        if (document.getElementById("terms").checked === true) {
            const UrlParams = new URLSearchParams(window.location.search);
            const id = UrlParams.get("id");
            let http = new XMLHttpRequest();
            let list = [];
            http.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    let json = jsonParse(this.responseText);

                    let dict = {title: json["title"]};
                    list.push(dict);

                    //we don t know for sure

                }
            }
            //WE DON T KNOW FOR SURE
            let title = JSON.stringify(list);
            http.open("GET", "api/conference/get?id=" + id, true);
            http.send(title);
        } else {
            alert("Agree with terms and conditions first");
        }

    }
</script>
<style>
    .left-container{
        margin-top: 12%;
        margin-left: 30%;
        max-width: 500px;
        border: 1px solid grey;
    }
    #up{
        margin-top: 5%;
        margin-bottom: 5%;
        min-width: 150px;
    }
</style>

<div class="navbar">
  <a href='{% url "home" %}'><img src="{% static 'favicon.ico' %}" height="25" width="25"></a>
  <a href='{% url "conference_list" %}'>Conference List</a>
  {% if request.user.is_authenticated %}
    <a href='{% url "section_choices" %}'>Section Choices</a>
    {% if request.user.first_name == "Speaker" or request.user.first_name == "Chair"%}
      <a href='{% url "evaluation_results" %}'>Evaluation Results</a>
    {% endif %}
      {% if request.user.first_name == "Chair" %}
        <a href='{% url "submit_new_conference" %}'>Submit Conference</a>
          <div class="dropdown">
            <button class="dropbtn">Administrative functions &darr;
            </button>
            <div class="dropdown-content">
                <a href='{% url "assign_reviewers" %}'>Assign Reviewers</a>
                <a href='{% url "bidding" %}'>Bidding</a>
                <a href='{% url "evaluation" %}'>Evaluation</a>
                <a href='{% url "review"%}'>Review</a>
                <a href='{% url "split_papers_into_sections" %}'>Split Papers Into Sections</a>
            </div>
          </div>
    {% endif %}
  {% endif %}

  <div class = "navbar-right">
        {% if request.user.is_authenticated %}
        <a href="{% url 'account_logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'account_login' %}">Login</a>
        <a href="{% url 'account_signup' %}">Sign-up</a>
    {% endif %}
    </div>
</div>
<div class="left-container">
    <div class="title">
        <h1></h1>
    </div>
    <input type="checkbox" id="terms">
    <label for="terms"> I agree with the terms and conditions</label><br>
    <button id="up" type="submit" onclick="sendChairInfo()">Register</button>

</div>


</body>
</html>