<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="stylesheet.css">
         <script type="text/javascript" src="scripts.js"></script>
         <meta charset="UTF-8">
        <title>Conference Chair Sign up</title>

    </head>

    <body  onload="loadTitleConference()">

        <div class="title">
            <h1></h1>
        </div>
        <input type="checkbox" id="terms">
        <label for="terms"> I agree with terms and conditions</label><br>

        <button type="submit" onclick="sendChairInfo()">Register</button>



    </body>
</html>