{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" type="text/css" href="stylesheet.css"> -->
    <link rel='stylesheet' type="text/css" href="{% static 'css/navbar.css' %}">
    <link rel='stylesheet' type="text/css" href="{% static 'css/stylesheet.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript" src="{% static 'scripts.js' %}"></script>
    <meta charset="UTF-8">
    <title>Conferences</title>
</head>
<style>
    .center-container{
        margin-top: 10px;
    }

    #layout-errors {
        margin-left: 42%;
        font-size: 10px;
        font-style: italic;
        max-width: 200px;
        max-height: 100px;
        overflow: hidden;
        text-align: center;
    }


</style>
<body onload="getConferences(); showAddConferenceButton()">

<div class="navbar">
  <a href='{% url "home" %}'><img src="{% static 'favicon.ico' %}" height="25" width="25"></a>
  <a href='{% url "conference_list" %}'>Conference List</a>
  {% if request.user.is_authenticated %}
    <a href='{% url "section_choices" %}'>Section Choices</a>
    {% if request.user.first_name == "Speaker" or request.user.first_name == "Chair"%}
      <a href='{% url "evaluation_results" %}'>Evaluation Results</a>
    {% endif %}
      {% if request.user.first_name == "Chair" %}
        <a href='{% url "submit_new_conference" %}'>Submit Conference</a>
          <div class="dropdown">
            <button class="dropbtn">Administrative functions &darr;
            </button>
            <div class="dropdown-content">
                <a href='{% url "assign_reviewers" %}'>Assign Reviewers</a>
                <a href='{% url "bidding" %}'>Bidding</a>
                <a href='{% url "evaluation" %}'>Evaluation</a>
                <a href='{% url "split_papers_into_sections" %}'>Split Papers Into Sections</a>
            </div>
          </div>
    {% endif %}
  {% endif %}

  <div class = "navbar-right">
        {% if request.user.is_authenticated %}
        <a href="{% url 'account_logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'account_login' %}">Login</a>
        <a href="{% url 'account_signup' %}">Sign-up</a>
    {% endif %}
    </div>
</div>

<div class="center-container">
    <script>
        function getConferences() {
            let http = new XMLHttpRequest();
            http.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    let table = document.getElementsByTagName("table")[0];
                    let old_tbody = document.getElementsByTagName("tbody")[0];
                    let new_tbody = document.createElement('tbody');

                    let json = jsonParse(this.responseText);
                    let isLog = "{{ request.user.is_authenticated }}";

                    for (let i = 0; i < json.length; i++) {
                        let conference = json[i];

                        let row = new_tbody.insertRow();
                        let cell = row.insertCell();



                        cell.appendChild(document.createTextNode(conference["name"]));
                        cell = row.insertCell();
                        cell.appendChild(document.createTextNode(conference["submissionDeadline"]));
                        cell = row.insertCell();
                        cell.appendChild(document.createTextNode(conference["reviewDeadline"]));
                        cell = row.insertCell();
                        cell.appendChild(document.createTextNode(conference["conferenceDate"]));

                        let userType = "{{request.user.first_name}}";
                        // console.log(userType);
                        let button = document.createElement("a");
                        button.classList.add("button-link");
                        button.innerHTML = "Register";

                        switch (userType) {
                            case "Listener":
                                const u = '../listener-register/?name='+conference['name'];
                                console.log(u);
                                button.setAttribute("href", u);
                                break;
                            case "Speaker":
                                button.setAttribute("href", "{% url 'speaker_register' %}");
                                break;
                            case "Chair":
                                const w = '../chair-register/?name='+conference['name'];
                                button.setAttribute("href", w);
                                break;
                            default:
                                console.log("Invalid user type");
                        }
                        
                        cell = row.insertCell();
                        cell.appendChild(button);
                    
                    }
                    table.replaceChild(new_tbody, old_tbody);
                    $('#errors').html('');
                    $('#errors').append("succesfully loaded conferences");
                    setTimeout(fade_out, 5000);

                }
                if (this.readyState === 4 && this.status !== 200) {
                    $('#errors').html('');
                    $("#errors").append(this.responseText);
                    $('#errors').css('color','red');
                    setTimeout(fade_out, 5000);
                }
            };
            http.open("GET", "../api/conferences/getAll", true);
            http.send(null);
        }

        function fade_out() {
            $('#errors').html('');
        }

        function showAddConferenceButton() {
            let userType = "{{request.user.first_name}}";
            // console.log(userType);

            if (userType === "Chair") {
                let button = document.createElement("a");
                button.setAttribute("href", "{% url 'submit_new_conference' %}"); 
                button.classList.add("button-link");
                button.innerHTML = "Add conference";
                button.setAttribute("style", "margin-left: auto; margin-right: auto; margin-top: 25px");

                let container = document.getElementsByClassName("center-container")[0];
                container.appendChild(button);
            }
        }
    </script>
    <div class="table-container">
        <table>
            <thead>
            <tr>
                <th>Conference Name</th>
                <th>Submission Deadline</th>
                <th>Review Deadline</th>
                <th>Conference Date</th>
                <!-- {% if request.user.is_authenticated %} -->
                <th>Register</th>
                <!-- {% endif %} -->
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <!--button style="margin-top: 30px" type="submit">Add conference</button-->

</div>

    <div id="layout-errors">
        <p id="errors"></p>
    </div>
</body>
</html>