{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" type="text/css" href="stylesheet.css"> -->
    <link rel='stylesheet' type="text/css" href="{% static 'css/stylesheet.css' %}">

    <script type="text/javascript" src="{% static 'scripts.js' %}"></script>
    <meta charset="UTF-8">
    <title>Conferences</title>
</head>
<body onload="getConferences(); showAddConferenceButton()">

<div class="center-container">
    <script>
        function getConferences() {
            let http = new XMLHttpRequest();
            http.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    let table = document.getElementsByTagName("table")[0];
                    let old_tbody = document.getElementsByTagName("tbody")[0];
                    let new_tbody = document.createElement('tbody');

                    let json = jsonParse(this.responseText);

                    for (let i = 0; i < json.length; i++) {
                        let conference = json[i];

                        let row = new_tbody.insertRow();
                        let cell = row.insertCell();
                        cell.appendChild(document.createTextNode(conference["name"]));
                        cell = row.insertCell();
                        cell.appendChild(document.createTextNode(conference["submissionDeadline"]));
                        cell = row.insertCell();
                        cell.appendChild(document.createTextNode(conference["reviewDeadline"]));
                        cell = row.insertCell();
                        cell.appendChild(document.createTextNode(conference["conferenceDate"]));

                        let userType = "{{request.user.first_name}}";
                        console.log(userType);

                        let button = document.createElement("a");
                        button.classList.add("button-link");
                        button.innerHTML = "Register";

                        switch (userType) {
                            case "Listener":
                                button.setAttribute("href", "{% url 'listener_register' %}");
                                break;
                            case "Speaker":
                                button.setAttribute("href", "{% url 'speaker_register' %}");
                                break;
                            case "Chair":
                                button.setAttribute("href", "{% url 'chair_register' %}");
                                break;
                            default:
                                console.log("Invalid user type");
                        }

                        cell = row.insertCell();
                        cell.appendChild(button);
                    }
                    table.replaceChild(new_tbody, old_tbody);
                }
            };
            http.open("GET", "../api/conferences/getAll", true);
            http.send(null);
        }

        function showAddConferenceButton() {
            let userType = "{{request.user.first_name}}";
            console.log(userType);

            if (userType === "Chair") {
                let button = document.createElement("a");
                button.setAttribute("href", "{% url 'submit_new_conference' %}"); 
                button.classList.add("button-link");
                button.innerHTML = "Add conference";
                button.setAttribute("style", "margin-left: auto; margin-right: auto; margin-top: 25px");

                let container = document.getElementsByClassName("center-container")[0];
                container.appendChild(button);
            }
        }
    </script>
    <div class="table-container">
        <table>
            <thead>
            <tr>
                <th>Conference Name</th>
                <th>Submission Deadline</th>
                <th>Review Deadline</th>
                <th>Conference Date</th>
                <th>Register</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <!--button style="margin-top: 30px" type="submit">Add conference</button-->
</div>
</body>
</html>