{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' type="text/css" href="{% static 'css/navbar.css' %}">

    <title>Conference</title>
</head>
<body>
<div class="navbar">

  <a href="conference-list.html">conference list</a>
  <a href="evaluation-results.html">evaluation results</a>
  <a href="submit-new-conference.html">submit conference</a>
  <div class="dropdown">
    <button class="dropbtn">Administrative functions &darr;
    </button>
    <div class="dropdown-content">
        <a href="assign-reviewers.html">assign reviewers</a>
        <a href="bidding.html">bidding</a>
        <a href="evaluation.html">evaluation</a>
        <a href="review.html">review</a>
        <a href="section-choices.html">section choices</a>
        <a href="split-papers-into-sections.html">split papers into sections</a>
    </div>
  </div>
  <div class = "navbar-right">
        {% if request.user.is_authenticated %}
        <a href="{% url 'account_logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'account_login' %}">Login</a>
        <a href="{% url 'account_signup' %}">Sign-up</a>
    {% endif %}
    </div>
</div>


    <!-- <div class="mt-5 pt-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
    </div> -->


    <h1>Conference Management Platform</h1>
<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

    </div>
</nav>
</body>
</html>