<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <script type="text/javascript" src="scripts.js"></script><!--Used for jsonParse();loadTitle();-->
    <meta charset="UTF-8">
    <title>Listener Sign up</title>

</head>

<body onload="loadTitle()">
<script>
    function sendListenerInfo() {
        if (document.getElementById("terms").checked === true) {

            const UrlParams = new URLSearchParams(window.location.search);
            const id = UrlParams.get("id");
            let http = new XMLHttpRequest();

            let list = [];
            http.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    let json = jsonParse(this.responseText);
                    let title = json["title"];
                    let info = document.getElementById("payment").value;
                    let dict = {title: title, info: info};
                    alert(info);
                    list.push(dict);

                    //we don t know for sure

                }
            }
            let information = JSON.stringify(list);
            http.open("GET", "api/conference/get?id=" + id, true);
            http.send(information);

        } else {
            alert("Agree with terms and coditions first");
        }
    }
</script>
<div class="left-container">

    <div class="title">
        <h1></h1>
    </div>
    <input type="text" id="payment" placeholder="Payment Information...">
    <br>
    <br>
    <input type="checkbox" id="terms">
    <label for="terms"> I agree with terms and conditions</label><br>
    <br>
    <br>
    <button type="submit" onclick="sendListenerInfo()">Register</button>

</div>
</body>
</html>