<!DOCTYPE html>
<html>
<head>
	<title>section choices</title>
    <script type="text/javascript" src="scripts.js"></script>
    <link rel="stylesheet" href="stylesheet.css">

</head>
<body>
<form action="" style="border:1px solid #ccc">
  <div class="container">
    <h1>Section choices</h1>
    <hr>
    <input type="checkbox" id="example" name="examle" value="example">
    <label for="vehicle1">Example</label><br>
    
    

    <div class="clearfix">
      <button type="submit" class="">Submit</button>

    </div>
  </div>
</form>
</body>
</html>