{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>section choices</title>
    <script type="text/javascript" src="scripts.js"></script><!--FIXME No JS code-->
     <link rel='stylesheet' type="text/css" href="{% static 'css/stylesheet.css' %}">

</head>

<body>

  <style>
    form{
      margin: 100px 400px;
      max-width: 500px;
    }
    button{
      margin:5px;
      min-width: 150px;
      margin-left: 150px;
    }
    h1{
      margin-left: 80px;
    }
  </style>
<form action="" style="border:1px solid #ccc">
  <div class="container">
    <h1>Section choices</h1>
    <hr>
    <input type="checkbox" id="example" name="example" value="example">
    <label for="example">Example</label><br>
    <div class="clearfix">
      <button type="submit" class="">Submit</button>
    </div>
  </div>
</form>
</body>
</html>