{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Speaker sign up</title>
    <link rel='stylesheet' type="text/css" href="{% static 'css/stylesheet.css' %}">
        <link rel='stylesheet' type="text/css" href="{% static 'css/navbar.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <meta charset="UTF-8">
</head>
<body>

<script>
    function speakerRegister() {

        console.log("Entered speakerRegister");

        let title = document.getElementById("title").value;
        if(title==="")
        {
            document.getElementById("elem").style.display="block";
            return;
        }
        let authors = document.getElementById("authors").value;
        let topics = document.getElementById("topics").value;
        let keywords = document.getElementById("keywords").value;

        let dict = {
            title: title,
            authorId: authors,
            topics: topics,
            keywords: keywords
        };

        let json = JSON.stringify(dict);

        let http = new XMLHttpRequest();
        http.onreadystatechange = purge;
        function purge() {
            if (this.readyState === 4 && this.status === 200) {
                    //FIXME maybe
            }
        }

        http.open("POST", "../api/speaker/registerr", true);
        http.send(json);

    }

    function sendAbstract() {

        let title = document.getElementById("title").value;
        if(title==="")
        {
            document.getElementById("elem").style.display="block";
            return;
        }
        else{
            document.getElementById("elem").style.display="none";
        }

        let abstract_content = document.getElementById("abst").value;
        let dict = {
            content: abstract_content,
            title: title
        }

        let json = JSON.stringify(dict);

        console.log(json);

        let http = new XMLHttpRequest();
        http.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                document.getElementById("abstractsent").style.display="block";
            }
        }
        http.open("POST", "../api/papers/sendAbstract", true);
        http.send(json);
    }
</script>
<style>
    p{
        font-size: 15px;
        margin: 3px;
        padding: 0;
    }
    button, input[type="submit"]{
        min-width: 150px;
        margin: 5px;
    }

    input[type="file"]{
        min-width: 600px;
        margin: 5px 5px 15px 5px;
    }

    #line, #line2{
        margin-left: 250px;
    }
    #upperHalf{
        margin-left: 40%;
    }

    #middlePart, #upfileDiv{
        margin-left: 22%;
    }

    #sendAbstr{
        position: relative;
        bottom: 65px;
        left: 8px;
    }
</style>

<div class="navbar">
  <a href='{% url "home" %}'><img src="{% static 'favicon.ico' %}" height="25" width="25"></a>
  <a href='{% url "conference_list" %}'>Conference List</a>
  {% if request.user.is_authenticated %}
    <a href='{% url "section_choices" %}'>Section Choices</a>
    {% if request.user.first_name == "Speaker" or request.user.first_name == "Chair"%}
      <a href='{% url "evaluation_results" %}'>Evaluation Results</a>
    {% endif %}
      {% if request.user.first_name == "Chair" %}
        <a href='{% url "submit_new_conference" %}'>Submit Conference</a>
          <div class="dropdown">
            <button class="dropbtn">Administrative functions &darr;
            </button>
            <div class="dropdown-content">
                <a href='{% url "assign_reviewers" %}'>Assign Reviewers</a>
                <a href='{% url "bidding" %}'>Bidding</a>
                <a href='{% url "evaluation" %}'>Evaluation</a>
                <a href='{% url "split_papers_into_sections" %}'>Split Papers Into Sections</a>
            </div>
          </div>
    {% endif %}
  {% endif %}

  <div class = "navbar-right">
        {% if request.user.is_authenticated %}
        <a href="{% url 'account_logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'account_login' %}">Login</a>
        <a href="{% url 'account_signup' %}">Sign-up</a>
    {% endif %}
    </div>
</div>

<div id="upperHalf">
    <ul id="input">
        <li><p>Insert conference name here:</p></li>
        <li><input type="text" id="title" placeholder="Title (must be added)"></li>
        <li id="elem" style="display: none; color: red"><p>Title must be added!</p></li>
        <li><input type="text" id="authors" placeholder="Authors"></li>
        <li><input type="text" id="topics" placeholder="Topics"></li>
        <li><input type="text" id="keywords" placeholder="Keywords"></li>
    </ul>
    <button id="reg" class="btn" onclick="speakerRegister();">Register</button>
</div>

<div id="line">
    <svg id="line_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
         y="0px" width="800px" height="5px" xml:space="preserve">
	  		<path class="path2" fill="#01a09e" stroke-width="3" stroke="black" d="M0 0 l1120 0"/>
		</svg>
</div>

<div id="middlePart">
    <ul>
    <li><textarea id="abst" placeholder="Abstract"></textarea></li>
    <!--<li><input type="text" id="title2" placeholder="Title" name=""></li>-->

    </ul>
    <button id="sendAbstr" onclick="sendAbstract()" class="btn">Send Abstract</button>
    <li id="abstractsent" style="display: none; color: #a9b7c6"><p>Successfully sent abstract!</p></li>

</div>

<div id="line2">
    <svg id="line_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
         y="0px" width="800px" height="5px" xml:space="preserve">
	  		<path class="path2" fill="#01a09e" stroke-width="3" stroke="black" d="M0 0 l1120 0"/>
		</svg>
</div>

<div id="upfileDiv">
    <form method="post" action="../api/file_upload" enctype="multipart/form-data">        
        <input type="file" name="mile" accept="application/pdf" />
        <input type="submit">
    </form>
</div>
</body>
</html>