*{
    padding: 0;
    margin: 0;
}
section{
    display: block;
    margin-left: 20%;
}

input{
    display: block;
    position: relative;
    width: 250px;
    margin-top: 15px;
}

select{
    margin-top: 5px;
    width: 250px;
}

input[type="button"]{
    margin-left: 50px;
    margin-top: 30px;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 150px;
}


#lists div{
    display: inline-block;
    position: relative;
    margin-top: 5%;

}

#sections, #papers{
    border: 2px solid black;
    min-height: 400px;
    min-width: 200px;
}

#arrow{
    position: relative;
    bottom:160px;
}
