<!DOCTYPE html>
<html>
<head>
	<title>submit conference</title>
    <script type="text/javascript" src="scripts.js"></script>
    <link rel="stylesheet" href="stylesheet.css">

</head>
<body>
<form action="" style="border:1px solid #ccc">
  <div class="container">
    <h1>Conference</h1>
    <hr>
    <p for="email"><b>Name</b></p>
    <input type="text" placeholder="Enter Name" name="name" required>
    <br>
    <p for="Category"><b>Category</b></p>
    <input  placeholder="Enter Category" name="Category" required>
<br>

    <p for="deadline paper"><b>Deadline paper</b></p>
    <input type="date" placeholder="insert deadline paper" name="deadline paper" required>
    <br>

    <p for="deadline abstract"><b>Deadline abstract</b></p>
    <input type="date" placeholder="insert deadline abstract" name="deadline abstract" required>
<br>

    <p for="deadline bidding"><b>Deadline bidding</b></p>
    <input type="date" placeholder="insert deadline bidding" name="deadline bidding" required>
    <br>

     <p for="email"><b>Email</b></p>
    <input placeholder="Insert email" name="email" required>
    <br>

     <p for="Description"><b>Description</b></p>
    <input type="text" placeholder="Insert Description" name="Description" required>
	<br>

   <p for="start date"><b>Start date</b></p>
    <input type="date" placeholder="Insert start date" name="start date" required>
	<br>

    <p for="end date"><b>End date</b></p>
    <input type="date" placeholder="Insert end date" name="end date" required>
	<br>

     <p for="ticket fee"><b>Ticket fee</b></p>
    <input type="number" placeholder="Ticket fee" name="ticket fee" required>
    <br>
    <p for="website"><b>Website</b></p>
    <input type="text" placeholder="Website" name="website" required>
     <br>
     <p for="Research topics"><b>Research topics</b></p>
    <input type="text" placeholder="Research topics" name="Research topics" required>
    <br>

    <p for="Location url"><b>Location url</b></p>
    <input type="url" placeholder="Location url" name="Location url" required>

<br>

    <div class="clearfix">
      <button type="submit" class="">Submit</button>
    </div>
  </div>
</form>
</body>
</html>