{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>submit conference</title>
    <!-- <script type="text/javascript" src="../scripts.js"></script>FIXME No JS code -->
    <link rel='stylesheet' type="text/css" href="{% static 'css/stylesheet.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<style>
    form{
      max-width: 400px;
      margin-left: 35%;
    }
    label, input{
      display: inline-block;
    }
    label{
      min-width: 160px;
      margin-left: 35px;
    }
    input{
      min-width: 160px;
    }
    button{
      margin: 10px;
      margin-left: 27%;
      min-width: 150px;
    }
    h1{
      margin-left: 27%;
    }
    .container{
      max-width: 400px;
    }
</style>
<body>
<form method="POST" id="conf-form" action="" style="border:1px solid #ccc">
  {% csrf_token %}
  <div class="container">
    <h1>Conference</h1>
    <hr>
    <label for="name"><b>Name</b></label>
    <input type="text" placeholder="Enter Name" id="name" required>
    <br>

    <label for="submissionDeadline"><b>Submission Deadline</b></label>
    <input type="date" placeholder="insert submission deadline" id="submissionDeadline" required>
    <br>

    <label for="reviewDeadline"><b>Review Deadline</b></label>
    <input type="date" placeholder="insert review deadline" id="reviewDeadline" required>
    <br>

    <label for="conferenceDate"><b>Conference Date</b></label>
    <input type="date" placeholder="insert conference date" id="conferenceDate" required>
    <br>

    <div class="clearfix">
      <button type="submit" class="">Submit</button>
    </div>
  </div>
  <div class="conference">

  </div>
</form>
</body>
</html>

<script>
$(document).on('submit', '#conf-form',function(e){
    $.ajax({
        type:'POST',
        data:{
            name:$('#name').val(),
            submissionDeadline:$('#submissionDeadline').val(),
            reviewDeadline:$('#reviewDeadline').val(),
            conferenceDate:$('#conferenceDate').val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            action: 'post'
        },
        success:function(json){
            document.getElementById("post-form").reset();
            $(".conference").prepend('<div style="color:white;">'
                + '<h2> Conference added successfully!</h2>' + 
                + '<h4>' + json.name + '</h4>' + 
            '</div>' 
            )
        },
        error : function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText); 
    }
    });
});

</script>